<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cecsm.mpspcore.common.mapper.patientMapper" >
    <resultMap id="BaseResultMap" type="com.cecsm.mpspcore.common.entity.patient" >
        <id column="patient_id" property="patient_id" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="id_number" property="id_number" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="height" property="height" jdbcType="INTEGER" />
        <result column="bmi_index" property="bmi_index" jdbcType="INTEGER" />
        <result column="diabetes_type" property="diabetes_type" jdbcType="VARCHAR" />
        <result column="diabetes_other" property="diabetes_other" jdbcType="VARCHAR" />
        <result column="diabetes_age" property="diabetes_age" jdbcType="INTEGER" />
        <result column="syndrome" property="syndrome" jdbcType="VARCHAR" />
        <result column="syndrome_check" property="syndrome_check" jdbcType="VARCHAR" />
        <result column="medication" property="medication" jdbcType="VARCHAR" />
        <result column="binding_wechat" property="binding_wechat" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="town" property="town" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="person" property="person" jdbcType="VARCHAR" />
        <result column="person_relation" property="person_relation" jdbcType="VARCHAR" />
        <result column="person_relation_other" property="person_relation_other" jdbcType="VARCHAR" />
        <result column="person_telephone" property="person_telephone" jdbcType="VARCHAR" />
        <result column="glucometer_code" property="glucometer_code" jdbcType="VARCHAR" />
        <result column="disease_history" property="disease_history" jdbcType="VARCHAR" />
        <result column="disease_check" property="disease_check" jdbcType="VARCHAR" />
        <result column="disease_check_other" property="disease_check_other" jdbcType="VARCHAR" />
        <result column="family_history" property="family_history" jdbcType="VARCHAR" />
        <result column="family_history_check" property="family_history_check" jdbcType="VARCHAR" />
        <result column="allergy" property="allergy" jdbcType="VARCHAR" />
        <result column="allergy_name" property="allergy_name" jdbcType="VARCHAR" />
        <result column="history_cure" property="history_cure" jdbcType="VARCHAR" />
        <result column="history_cure_type" property="history_cure_type" jdbcType="VARCHAR" />
        <result column="oral_name" property="oral_name" jdbcType="VARCHAR" />
        <result column="oral_number" property="oral_number" jdbcType="INTEGER" />
        <result column="oral_year" property="oral_year" jdbcType="VARCHAR" />
        <result column="sport" property="sport" jdbcType="VARCHAR" />
        <result column="smoke" property="smoke" jdbcType="VARCHAR" />
        <result column="smoke_number" property="smoke_number" jdbcType="INTEGER" />
        <result column="drink" property="drink" jdbcType="VARCHAR" />
        <result column="drink_name" property="drink_name" jdbcType="VARCHAR" />
        <result column="drink_number" property="drink_number" jdbcType="INTEGER" />
        <result column="sport_habit" property="sport_habit" jdbcType="VARCHAR" />
        <result column="sport_number" property="sport_number" jdbcType="INTEGER" />
        <result column="sport_memo" property="sport_memo" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="source" property="source" jdbcType="INTEGER" />
        <result column="diagnosis_date" property="diagnosis_date" jdbcType="DATE" />
        <result column="delete_user_id" property="delete_user_id" jdbcType="BIGINT" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="create_user_id" jdbcType="VARCHAR" />
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="update_user_id" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        patient_id, status, name, id_number, birthday, gender, age, height, bmi_index, diabetes_type, 
        diabetes_other, diabetes_age, syndrome, syndrome_check, medication, binding_wechat, 
        address, province, city, area, town, telephone, person, person_relation, person_relation_other, 
        person_telephone, glucometer_code, disease_history, disease_check, disease_check_other, 
        family_history, family_history_check, allergy, allergy_name, history_cure, history_cure_type, 
        oral_name, oral_number, oral_year, sport, smoke, smoke_number, drink, drink_name, 
        drink_number, sport_habit, sport_number, sport_memo, remark, source, diagnosis_date, 
        delete_user_id, createtime, create_user_id, updatetime, update_user_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from patient
        where patient_id = #{patient_id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from patient
        where patient_id = #{patient_id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.cecsm.mpspcore.common.entity.patient" >
        insert into patient (patient_id, status, name, 
            id_number, birthday, gender, 
            age, height, bmi_index, 
            diabetes_type, diabetes_other, diabetes_age, 
            syndrome, syndrome_check, medication, 
            binding_wechat, address, province, 
            city, area, town, 
            telephone, person, person_relation, 
            person_relation_other, person_telephone, 
            glucometer_code, disease_history, disease_check, 
            disease_check_other, family_history, 
            family_history_check, allergy, allergy_name, 
            history_cure, history_cure_type, oral_name, 
            oral_number, oral_year, sport, 
            smoke, smoke_number, drink, 
            drink_name, drink_number, sport_habit, 
            sport_number, sport_memo, remark, 
            source, diagnosis_date, delete_user_id, 
            createtime, create_user_id, updatetime, 
            update_user_id)
        values (#{patient_id,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
            #{id_number,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, 
            #{age,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{bmi_index,jdbcType=INTEGER}, 
            #{diabetes_type,jdbcType=VARCHAR}, #{diabetes_other,jdbcType=VARCHAR}, #{diabetes_age,jdbcType=INTEGER}, 
            #{syndrome,jdbcType=VARCHAR}, #{syndrome_check,jdbcType=VARCHAR}, #{medication,jdbcType=VARCHAR}, 
            #{binding_wechat,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
            #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, 
            #{telephone,jdbcType=VARCHAR}, #{person,jdbcType=VARCHAR}, #{person_relation,jdbcType=VARCHAR}, 
            #{person_relation_other,jdbcType=VARCHAR}, #{person_telephone,jdbcType=VARCHAR}, 
            #{glucometer_code,jdbcType=VARCHAR}, #{disease_history,jdbcType=VARCHAR}, #{disease_check,jdbcType=VARCHAR}, 
            #{disease_check_other,jdbcType=VARCHAR}, #{family_history,jdbcType=VARCHAR}, 
            #{family_history_check,jdbcType=VARCHAR}, #{allergy,jdbcType=VARCHAR}, #{allergy_name,jdbcType=VARCHAR}, 
            #{history_cure,jdbcType=VARCHAR}, #{history_cure_type,jdbcType=VARCHAR}, #{oral_name,jdbcType=VARCHAR}, 
            #{oral_number,jdbcType=INTEGER}, #{oral_year,jdbcType=VARCHAR}, #{sport,jdbcType=VARCHAR}, 
            #{smoke,jdbcType=VARCHAR}, #{smoke_number,jdbcType=INTEGER}, #{drink,jdbcType=VARCHAR}, 
            #{drink_name,jdbcType=VARCHAR}, #{drink_number,jdbcType=INTEGER}, #{sport_habit,jdbcType=VARCHAR}, 
            #{sport_number,jdbcType=INTEGER}, #{sport_memo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
            #{source,jdbcType=INTEGER}, #{diagnosis_date,jdbcType=DATE}, #{delete_user_id,jdbcType=BIGINT}, 
            #{createtime,jdbcType=TIMESTAMP}, #{create_user_id,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
            #{update_user_id,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.cecsm.mpspcore.common.entity.patient" >
        insert into patient
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="patient_id != null" >
                patient_id,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="id_number != null" >
                id_number,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="gender != null" >
                gender,
            </if>
            <if test="age != null" >
                age,
            </if>
            <if test="height != null" >
                height,
            </if>
            <if test="bmi_index != null" >
                bmi_index,
            </if>
            <if test="diabetes_type != null" >
                diabetes_type,
            </if>
            <if test="diabetes_other != null" >
                diabetes_other,
            </if>
            <if test="diabetes_age != null" >
                diabetes_age,
            </if>
            <if test="syndrome != null" >
                syndrome,
            </if>
            <if test="syndrome_check != null" >
                syndrome_check,
            </if>
            <if test="medication != null" >
                medication,
            </if>
            <if test="binding_wechat != null" >
                binding_wechat,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="area != null" >
                area,
            </if>
            <if test="town != null" >
                town,
            </if>
            <if test="telephone != null" >
                telephone,
            </if>
            <if test="person != null" >
                person,
            </if>
            <if test="person_relation != null" >
                person_relation,
            </if>
            <if test="person_relation_other != null" >
                person_relation_other,
            </if>
            <if test="person_telephone != null" >
                person_telephone,
            </if>
            <if test="glucometer_code != null" >
                glucometer_code,
            </if>
            <if test="disease_history != null" >
                disease_history,
            </if>
            <if test="disease_check != null" >
                disease_check,
            </if>
            <if test="disease_check_other != null" >
                disease_check_other,
            </if>
            <if test="family_history != null" >
                family_history,
            </if>
            <if test="family_history_check != null" >
                family_history_check,
            </if>
            <if test="allergy != null" >
                allergy,
            </if>
            <if test="allergy_name != null" >
                allergy_name,
            </if>
            <if test="history_cure != null" >
                history_cure,
            </if>
            <if test="history_cure_type != null" >
                history_cure_type,
            </if>
            <if test="oral_name != null" >
                oral_name,
            </if>
            <if test="oral_number != null" >
                oral_number,
            </if>
            <if test="oral_year != null" >
                oral_year,
            </if>
            <if test="sport != null" >
                sport,
            </if>
            <if test="smoke != null" >
                smoke,
            </if>
            <if test="smoke_number != null" >
                smoke_number,
            </if>
            <if test="drink != null" >
                drink,
            </if>
            <if test="drink_name != null" >
                drink_name,
            </if>
            <if test="drink_number != null" >
                drink_number,
            </if>
            <if test="sport_habit != null" >
                sport_habit,
            </if>
            <if test="sport_number != null" >
                sport_number,
            </if>
            <if test="sport_memo != null" >
                sport_memo,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="source != null" >
                source,
            </if>
            <if test="diagnosis_date != null" >
                diagnosis_date,
            </if>
            <if test="delete_user_id != null" >
                delete_user_id,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="create_user_id != null" >
                create_user_id,
            </if>
            <if test="updatetime != null" >
                updatetime,
            </if>
            <if test="update_user_id != null" >
                update_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="patient_id != null" >
                #{patient_id,jdbcType=BIGINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="id_number != null" >
                #{id_number,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=DATE},
            </if>
            <if test="gender != null" >
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
            <if test="height != null" >
                #{height,jdbcType=INTEGER},
            </if>
            <if test="bmi_index != null" >
                #{bmi_index,jdbcType=INTEGER},
            </if>
            <if test="diabetes_type != null" >
                #{diabetes_type,jdbcType=VARCHAR},
            </if>
            <if test="diabetes_other != null" >
                #{diabetes_other,jdbcType=VARCHAR},
            </if>
            <if test="diabetes_age != null" >
                #{diabetes_age,jdbcType=INTEGER},
            </if>
            <if test="syndrome != null" >
                #{syndrome,jdbcType=VARCHAR},
            </if>
            <if test="syndrome_check != null" >
                #{syndrome_check,jdbcType=VARCHAR},
            </if>
            <if test="medication != null" >
                #{medication,jdbcType=VARCHAR},
            </if>
            <if test="binding_wechat != null" >
                #{binding_wechat,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="town != null" >
                #{town,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null" >
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="person != null" >
                #{person,jdbcType=VARCHAR},
            </if>
            <if test="person_relation != null" >
                #{person_relation,jdbcType=VARCHAR},
            </if>
            <if test="person_relation_other != null" >
                #{person_relation_other,jdbcType=VARCHAR},
            </if>
            <if test="person_telephone != null" >
                #{person_telephone,jdbcType=VARCHAR},
            </if>
            <if test="glucometer_code != null" >
                #{glucometer_code,jdbcType=VARCHAR},
            </if>
            <if test="disease_history != null" >
                #{disease_history,jdbcType=VARCHAR},
            </if>
            <if test="disease_check != null" >
                #{disease_check,jdbcType=VARCHAR},
            </if>
            <if test="disease_check_other != null" >
                #{disease_check_other,jdbcType=VARCHAR},
            </if>
            <if test="family_history != null" >
                #{family_history,jdbcType=VARCHAR},
            </if>
            <if test="family_history_check != null" >
                #{family_history_check,jdbcType=VARCHAR},
            </if>
            <if test="allergy != null" >
                #{allergy,jdbcType=VARCHAR},
            </if>
            <if test="allergy_name != null" >
                #{allergy_name,jdbcType=VARCHAR},
            </if>
            <if test="history_cure != null" >
                #{history_cure,jdbcType=VARCHAR},
            </if>
            <if test="history_cure_type != null" >
                #{history_cure_type,jdbcType=VARCHAR},
            </if>
            <if test="oral_name != null" >
                #{oral_name,jdbcType=VARCHAR},
            </if>
            <if test="oral_number != null" >
                #{oral_number,jdbcType=INTEGER},
            </if>
            <if test="oral_year != null" >
                #{oral_year,jdbcType=VARCHAR},
            </if>
            <if test="sport != null" >
                #{sport,jdbcType=VARCHAR},
            </if>
            <if test="smoke != null" >
                #{smoke,jdbcType=VARCHAR},
            </if>
            <if test="smoke_number != null" >
                #{smoke_number,jdbcType=INTEGER},
            </if>
            <if test="drink != null" >
                #{drink,jdbcType=VARCHAR},
            </if>
            <if test="drink_name != null" >
                #{drink_name,jdbcType=VARCHAR},
            </if>
            <if test="drink_number != null" >
                #{drink_number,jdbcType=INTEGER},
            </if>
            <if test="sport_habit != null" >
                #{sport_habit,jdbcType=VARCHAR},
            </if>
            <if test="sport_number != null" >
                #{sport_number,jdbcType=INTEGER},
            </if>
            <if test="sport_memo != null" >
                #{sport_memo,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="source != null" >
                #{source,jdbcType=INTEGER},
            </if>
            <if test="diagnosis_date != null" >
                #{diagnosis_date,jdbcType=DATE},
            </if>
            <if test="delete_user_id != null" >
                #{delete_user_id,jdbcType=BIGINT},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="create_user_id != null" >
                #{create_user_id,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null" >
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="update_user_id != null" >
                #{update_user_id,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cecsm.mpspcore.common.entity.patient" >
        update patient
        <set >
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="id_number != null" >
                id_number = #{id_number,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="gender != null" >
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="height != null" >
                height = #{height,jdbcType=INTEGER},
            </if>
            <if test="bmi_index != null" >
                bmi_index = #{bmi_index,jdbcType=INTEGER},
            </if>
            <if test="diabetes_type != null" >
                diabetes_type = #{diabetes_type,jdbcType=VARCHAR},
            </if>
            <if test="diabetes_other != null" >
                diabetes_other = #{diabetes_other,jdbcType=VARCHAR},
            </if>
            <if test="diabetes_age != null" >
                diabetes_age = #{diabetes_age,jdbcType=INTEGER},
            </if>
            <if test="syndrome != null" >
                syndrome = #{syndrome,jdbcType=VARCHAR},
            </if>
            <if test="syndrome_check != null" >
                syndrome_check = #{syndrome_check,jdbcType=VARCHAR},
            </if>
            <if test="medication != null" >
                medication = #{medication,jdbcType=VARCHAR},
            </if>
            <if test="binding_wechat != null" >
                binding_wechat = #{binding_wechat,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="town != null" >
                town = #{town,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null" >
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="person != null" >
                person = #{person,jdbcType=VARCHAR},
            </if>
            <if test="person_relation != null" >
                person_relation = #{person_relation,jdbcType=VARCHAR},
            </if>
            <if test="person_relation_other != null" >
                person_relation_other = #{person_relation_other,jdbcType=VARCHAR},
            </if>
            <if test="person_telephone != null" >
                person_telephone = #{person_telephone,jdbcType=VARCHAR},
            </if>
            <if test="glucometer_code != null" >
                glucometer_code = #{glucometer_code,jdbcType=VARCHAR},
            </if>
            <if test="disease_history != null" >
                disease_history = #{disease_history,jdbcType=VARCHAR},
            </if>
            <if test="disease_check != null" >
                disease_check = #{disease_check,jdbcType=VARCHAR},
            </if>
            <if test="disease_check_other != null" >
                disease_check_other = #{disease_check_other,jdbcType=VARCHAR},
            </if>
            <if test="family_history != null" >
                family_history = #{family_history,jdbcType=VARCHAR},
            </if>
            <if test="family_history_check != null" >
                family_history_check = #{family_history_check,jdbcType=VARCHAR},
            </if>
            <if test="allergy != null" >
                allergy = #{allergy,jdbcType=VARCHAR},
            </if>
            <if test="allergy_name != null" >
                allergy_name = #{allergy_name,jdbcType=VARCHAR},
            </if>
            <if test="history_cure != null" >
                history_cure = #{history_cure,jdbcType=VARCHAR},
            </if>
            <if test="history_cure_type != null" >
                history_cure_type = #{history_cure_type,jdbcType=VARCHAR},
            </if>
            <if test="oral_name != null" >
                oral_name = #{oral_name,jdbcType=VARCHAR},
            </if>
            <if test="oral_number != null" >
                oral_number = #{oral_number,jdbcType=INTEGER},
            </if>
            <if test="oral_year != null" >
                oral_year = #{oral_year,jdbcType=VARCHAR},
            </if>
            <if test="sport != null" >
                sport = #{sport,jdbcType=VARCHAR},
            </if>
            <if test="smoke != null" >
                smoke = #{smoke,jdbcType=VARCHAR},
            </if>
            <if test="smoke_number != null" >
                smoke_number = #{smoke_number,jdbcType=INTEGER},
            </if>
            <if test="drink != null" >
                drink = #{drink,jdbcType=VARCHAR},
            </if>
            <if test="drink_name != null" >
                drink_name = #{drink_name,jdbcType=VARCHAR},
            </if>
            <if test="drink_number != null" >
                drink_number = #{drink_number,jdbcType=INTEGER},
            </if>
            <if test="sport_habit != null" >
                sport_habit = #{sport_habit,jdbcType=VARCHAR},
            </if>
            <if test="sport_number != null" >
                sport_number = #{sport_number,jdbcType=INTEGER},
            </if>
            <if test="sport_memo != null" >
                sport_memo = #{sport_memo,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="source != null" >
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="diagnosis_date != null" >
                diagnosis_date = #{diagnosis_date,jdbcType=DATE},
            </if>
            <if test="delete_user_id != null" >
                delete_user_id = #{delete_user_id,jdbcType=BIGINT},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="create_user_id != null" >
                create_user_id = #{create_user_id,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null" >
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="update_user_id != null" >
                update_user_id = #{update_user_id,jdbcType=VARCHAR},
            </if>
        </set>
        where patient_id = #{patient_id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cecsm.mpspcore.common.entity.patient" >
        update patient
        set status = #{status,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            id_number = #{id_number,jdbcType=VARCHAR},
            birthday = #{birthday,jdbcType=DATE},
            gender = #{gender,jdbcType=VARCHAR},
            age = #{age,jdbcType=INTEGER},
            height = #{height,jdbcType=INTEGER},
            bmi_index = #{bmi_index,jdbcType=INTEGER},
            diabetes_type = #{diabetes_type,jdbcType=VARCHAR},
            diabetes_other = #{diabetes_other,jdbcType=VARCHAR},
            diabetes_age = #{diabetes_age,jdbcType=INTEGER},
            syndrome = #{syndrome,jdbcType=VARCHAR},
            syndrome_check = #{syndrome_check,jdbcType=VARCHAR},
            medication = #{medication,jdbcType=VARCHAR},
            binding_wechat = #{binding_wechat,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            province = #{province,jdbcType=VARCHAR},
            city = #{city,jdbcType=VARCHAR},
            area = #{area,jdbcType=VARCHAR},
            town = #{town,jdbcType=VARCHAR},
            telephone = #{telephone,jdbcType=VARCHAR},
            person = #{person,jdbcType=VARCHAR},
            person_relation = #{person_relation,jdbcType=VARCHAR},
            person_relation_other = #{person_relation_other,jdbcType=VARCHAR},
            person_telephone = #{person_telephone,jdbcType=VARCHAR},
            glucometer_code = #{glucometer_code,jdbcType=VARCHAR},
            disease_history = #{disease_history,jdbcType=VARCHAR},
            disease_check = #{disease_check,jdbcType=VARCHAR},
            disease_check_other = #{disease_check_other,jdbcType=VARCHAR},
            family_history = #{family_history,jdbcType=VARCHAR},
            family_history_check = #{family_history_check,jdbcType=VARCHAR},
            allergy = #{allergy,jdbcType=VARCHAR},
            allergy_name = #{allergy_name,jdbcType=VARCHAR},
            history_cure = #{history_cure,jdbcType=VARCHAR},
            history_cure_type = #{history_cure_type,jdbcType=VARCHAR},
            oral_name = #{oral_name,jdbcType=VARCHAR},
            oral_number = #{oral_number,jdbcType=INTEGER},
            oral_year = #{oral_year,jdbcType=VARCHAR},
            sport = #{sport,jdbcType=VARCHAR},
            smoke = #{smoke,jdbcType=VARCHAR},
            smoke_number = #{smoke_number,jdbcType=INTEGER},
            drink = #{drink,jdbcType=VARCHAR},
            drink_name = #{drink_name,jdbcType=VARCHAR},
            drink_number = #{drink_number,jdbcType=INTEGER},
            sport_habit = #{sport_habit,jdbcType=VARCHAR},
            sport_number = #{sport_number,jdbcType=INTEGER},
            sport_memo = #{sport_memo,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            source = #{source,jdbcType=INTEGER},
            diagnosis_date = #{diagnosis_date,jdbcType=DATE},
            delete_user_id = #{delete_user_id,jdbcType=BIGINT},
            createtime = #{createtime,jdbcType=TIMESTAMP},
            create_user_id = #{create_user_id,jdbcType=VARCHAR},
            updatetime = #{updatetime,jdbcType=TIMESTAMP},
            update_user_id = #{update_user_id,jdbcType=VARCHAR}
        where patient_id = #{patient_id,jdbcType=BIGINT}
    </update>

</mapper>