<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cecsm.core.mapper.GroupsMapper" >
    <resultMap id="BaseResultMap" type="com.cecsm.core.entity.Groups" >
        <id column="groups_id" property="groups_id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        groups_id, name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from groups
        where groups_id = #{groups_id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from groups
        where groups_id = #{groups_id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.cecsm.core.entity.Groups" >
        insert into groups (groups_id, name)
        values (#{groups_id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.cecsm.core.entity.Groups" >
        insert into groups
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="groups_id != null" >
                groups_id,
            </if>
            <if test="name != null" >
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="groups_id != null" >
                #{groups_id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cecsm.core.entity.Groups" >
        update groups
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where groups_id = #{groups_id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cecsm.core.entity.Groups" >
        update groups
        set name = #{name,jdbcType=VARCHAR}
        where groups_id = #{groups_id,jdbcType=BIGINT}
    </update>

</mapper>