<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cecsm.core.mapper.TaskTypeMapper" >
    <resultMap id="BaseResultMap" type="com.cecsm.core.entity.TaskType" >
        <id column="type_id" property="type_id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        type_id, name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from task_type
        where type_id = #{type_id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from task_type
        where type_id = #{type_id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.cecsm.core.entity.TaskType" >
        insert into task_type (type_id, name)
        values (#{type_id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.cecsm.core.entity.TaskType" >
        insert into task_type
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="type_id != null" >
                type_id,
            </if>
            <if test="name != null" >
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="type_id != null" >
                #{type_id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cecsm.core.entity.TaskType" >
        update task_type
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where type_id = #{type_id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cecsm.core.entity.TaskType" >
        update task_type
        set name = #{name,jdbcType=VARCHAR}
        where type_id = #{type_id,jdbcType=BIGINT}
    </update>

</mapper>