<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.els.common.dao.ElsJkFunMapper" >
    <resultMap id="BaseResultMap" type="com.els.common.vo.ElsJkFun" >
        <id column="JK_ID" property="jkId" jdbcType="VARCHAR" />
        <result column="JK_NAME" property="jkName" jdbcType="VARCHAR" />
        <result column="JK_STS" property="jkSts" jdbcType="CHAR" />
        <result column="FBK1" property="fbk1" jdbcType="VARCHAR" />
        <result column="FBK2" property="fbk2" jdbcType="VARCHAR" />
        <result column="FBK3" property="fbk3" jdbcType="VARCHAR" />
        <result column="FBK4" property="fbk4" jdbcType="VARCHAR" />
        <result column="FBK5" property="fbk5" jdbcType="VARCHAR" />
        <result column="FBK6" property="fbk6" jdbcType="VARCHAR" />
        <result column="FBK7" property="fbk7" jdbcType="VARCHAR" />
        <result column="FBK8" property="fbk8" jdbcType="VARCHAR" />
        <result column="FBK9" property="fbk9" jdbcType="VARCHAR" />
        <result column="FBK10" property="fbk10" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        JK_ID, JK_NAME, JK_STS, FBK1, FBK2, FBK3, FBK4, FBK5, FBK6, FBK7, FBK8, FBK9, FBK10
    </sql>

    <insert id="insertSelective" parameterType="com.els.common.vo.ElsJkFun" >
        insert into ELS_JK_FUN
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="jkId != null" >
                JK_ID,
            </if>
            <if test="jkName != null" >
                JK_NAME,
            </if>
            <if test="jkSts != null" >
                JK_STS,
            </if>
            <if test="fbk1 != null" >
                FBK1,
            </if>
            <if test="fbk2 != null" >
                FBK2,
            </if>
            <if test="fbk3 != null" >
                FBK3,
            </if>
            <if test="fbk4 != null" >
                FBK4,
            </if>
            <if test="fbk5 != null" >
                FBK5,
            </if>
            <if test="fbk6 != null" >
                FBK6,
            </if>
            <if test="fbk7 != null" >
                FBK7,
            </if>
            <if test="fbk8 != null" >
                FBK8,
            </if>
            <if test="fbk9 != null" >
                FBK9,
            </if>
            <if test="fbk10 != null" >
                FBK10,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="jkId != null" >
                #{jkId,jdbcType=VARCHAR},
            </if>
            <if test="jkName != null" >
                #{jkName,jdbcType=VARCHAR},
            </if>
            <if test="jkSts != null" >
                #{jkSts,jdbcType=CHAR},
            </if>
            <if test="fbk1 != null" >
                #{fbk1,jdbcType=VARCHAR},
            </if>
            <if test="fbk2 != null" >
                #{fbk2,jdbcType=VARCHAR},
            </if>
            <if test="fbk3 != null" >
                #{fbk3,jdbcType=VARCHAR},
            </if>
            <if test="fbk4 != null" >
                #{fbk4,jdbcType=VARCHAR},
            </if>
            <if test="fbk5 != null" >
                #{fbk5,jdbcType=VARCHAR},
            </if>
            <if test="fbk6 != null" >
                #{fbk6,jdbcType=VARCHAR},
            </if>
            <if test="fbk7 != null" >
                #{fbk7,jdbcType=VARCHAR},
            </if>
            <if test="fbk8 != null" >
                #{fbk8,jdbcType=VARCHAR},
            </if>
            <if test="fbk9 != null" >
                #{fbk9,jdbcType=VARCHAR},
            </if>
            <if test="fbk10 != null" >
                #{fbk10,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.els.common.vo.ElsJkFun" >
        update ELS_JK_FUN
        <set >
            <if test="jkName != null" >
                JK_NAME = #{jkName,jdbcType=VARCHAR},
            </if>
            <if test="jkSts != null" >
                JK_STS = #{jkSts,jdbcType=CHAR},
            </if>
            <if test="fbk1 != null" >
                FBK1 = #{fbk1,jdbcType=VARCHAR},
            </if>
            <if test="fbk2 != null" >
                FBK2 = #{fbk2,jdbcType=VARCHAR},
            </if>
            <if test="fbk3 != null" >
                FBK3 = #{fbk3,jdbcType=VARCHAR},
            </if>
            <if test="fbk4 != null" >
                FBK4 = #{fbk4,jdbcType=VARCHAR},
            </if>
            <if test="fbk5 != null" >
                FBK5 = #{fbk5,jdbcType=VARCHAR},
            </if>
            <if test="fbk6 != null" >
                FBK6 = #{fbk6,jdbcType=VARCHAR},
            </if>
            <if test="fbk7 != null" >
                FBK7 = #{fbk7,jdbcType=VARCHAR},
            </if>
            <if test="fbk8 != null" >
                FBK8 = #{fbk8,jdbcType=VARCHAR},
            </if>
            <if test="fbk9 != null" >
                FBK9 = #{fbk9,jdbcType=VARCHAR},
            </if>
            <if test="fbk10 != null" >
                FBK10 = #{fbk10,jdbcType=VARCHAR},
            </if>
        </set>
        where JK_ID = #{jkId,jdbcType=VARCHAR}
    </update>

</mapper>